@import "tailwindcss";

@theme {
  --color-primary: #6c3fc6;
  --color-background-light: #f7f6f8;
  --color-background-dark: #17131f;
  --font-family-display: "Inter", sans-serif;
  --radius: 0.5rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;
}

html,
body {
  height: 100%;
  overflow: hidden;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.active-fill {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
